*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
    color: #161A1D;
    --main-red: #BA181B;
    --week-red: #E5383B;
    --weak-black: #161A1D;
    --light-gray: #D3D3D3;

    --main-black: #0B090A;
    --strong-red: #660708;
    --second-red: #A4161A;
    --second-gray: #B1A7A6;
    --second-white: #F5F3F4;
    --main-white: #FFFFFF;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BA181B;
}
.logo{
    width: 70px;
    height: 70px;
}
.logo img{
    width: 70px;
    height: 70px;
    margin-left: 40px;
}

.containt_index{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(248,80,50,.6) 0%, rgba(229,56,59,.6) 34%, rgba(186,24,27,.6) 72%, rgba(186,24,27,.6) 100%), url(../img/backgroundNR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: inset 0px 10px 10px rgba(0,0,0,.3);
}

h2{
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: #161A1D;
    margin: 20px auto 40px;
}

.we_are .text_wa{
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
}

.container_os{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.container_os .card_os{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card_os img{
    width: 250px;
    margin-bottom: 20px;
}
.card_os .text_os{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6rem;
}

h3{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: normal;
}

.gallery{
    width: 100%;
    height: auto;
    margin: 20px auto 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #B1A7A6;
}

.light_img{
    position: fixed;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show{
    transform: translate(0%);
}
.show_img{
    transform: scale(1);
}

.accordion_item{
    width: 90%;
    max-width: 1200px;
    min-width: 320px;
    background-color: var(--week-red);
    margin: 0 auto 20px;
    padding: 10px;
    box-shadow: 2px 2px 6px var(--strong-red);
}
.accordian-link{
    width: 100%;
    font-weight:400;
    text-decoration: none;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
}
.accordian-link ion-icon{
    color: white;
    padding: 5px;
}
.remove-outline{
    display: none;
}
.answer{
    display: none;
    width: 100%;
    background-color: var(--second-red);
    box-shadow: inset 5px 0px var(--strong-red);
}
.answer p{
    padding: 10px;
    font-weight: 300;
    color: white;
    cursor: pointer;
}
.a_before{
    display: block;
}
.i_show{
    display: block;
}
.i_remove{
    display: none;
}
footer{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #161A1D;
}
.footer_contact a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer_contact a:hover{
    background-color: rgba(186,24,27,.6);
    border-radius: 20px;
}
.footer_contact a i{
   font-size: 40px;
   text-align: center;
   vertical-align: middle;
   color: white;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: white;
    line-height: 1.8rem;
}
footer ul li a:hover{
    color: rgba(186,24,27,.6) ;
}
